<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="interface.css">
		<meta charset="utf-8">
		<title>Scrape Interface</title>
	</head>
	<body>
		<div class="container">
			<button type="submit" class="btn toggleoptions">Options</button> <span id="countdown" hidden> </span>
		</div>

		<div class="container" id="options" hidden>
			<div>
				Block List:
			</div>
			<div>
				<textarea class="form-control" id="blockField"></textarea>
			</div>

			<div>
				Include List:
			</div>
			<div> 
				<textarea class="form-control" id="includeField"></textarea>
			</div>

			<div>
				<label><input type="checkbox" id="showblocked">Show blocked hits</input></label> | 
				<label><input type="checkbox" id="autoreload">Reload every</input></label> 
				<select id="reloaddropdown">
					<option value="5">5s</option>
				    <option value="10">10s</option>
					<option value="20">20s</option>
				    <option value="30">30s</option>
					<option value="45">45s</option>
				    <option value="60">60s</option>
				</select> | 
				<label><input type="checkbox" id="emailme"></input> Email </label><input type="text" id="emailaddress">
			</div>
		</div>

		<div class="container hitgroup">
			<div class="row">
				<div class="col-md-3"><h5>Requester</h5></div>
				<div class="col-md-7"><h5>HIT Title</h5></div>
				<div class="col-md-1"><h5>Pay</h5></div>
				<div class="col-md-1"><h5>Timer</h5></div>
			</div>
		</div>
	</body>
</html> 

<script type="text/javascript">

function getHits() {
    return $.ajax({
      url: "/scrape",
      dataType:'json',
    });
}

$(document).ready(function() {

	getHits().done(function(data) {
		let hitDB = data;
		let rld;

		let options = localStorage.getItem('scraperoptions') ? JSON.parse(localStorage.getItem('scraperoptions')) : 
			{ blockArray: ['ScoutIt','p9r','Crowdsurf Support', 'Ibotta', 'Speechpad'],
			includeArray: ['Sergey Schmidt'],
			showblocked: false,
			reloadevery: false,
			reloadinterval: 5,
			emailit: false,
			email: ''};

		//let blockArray = localStorage.getItem('blockstore') ? JSON.parse(localStorage.getItem('blockstore')) : ['ScoutIt','p9r','Crowdsurf Support', 'Ibotta', 'Speechpad'];		//default block list and include list
		//let includeArray = localStorage.getItem('includestore') ? JSON.parse(localStorage.getItem('includestore')) : ['Sergey Schmidt'];
		
		initRenderHitDB(options, hitDB);					//first render of page

		updateRender(options);				

		if ($('input#autoreload').is(':checked')) {
			let timer = $('#reloaddropdown').val();
			console.log(timer);
			options.reloadinterval = timer;
			options.reloadevery = true;
			updateRender(options);
			$('#countdown').show();
			$('#countdown').text($('#reloaddropdown').val());
			rld = setInterval(function() {
				window.location.reload();
			}, 1000 * timer);
		} else { $('#countdown').hide(); }

		$('input#showblocked').click( function () {						//show/hide blocked hits
			options.showblocked = this.checked;
			updateRender(options);
		});

		$('input#autoreload').click( function () {						//show/hide blocked hits
			options.reloadevery = this.checked;
			updateRender(options);
		});

		$('#reloaddropdown').change( function () {
			if ($('input#autoreload').is(':checked')) {
				let timer = $('#reloaddropdown').val();
				console.log(timer);
				options.reloadinterval = timer;
				options.reloadevery = true;
				updateRender(options);
				$('#countdown').show();
				$('#countdown').text($('#reloaddropdown').val());
				rld = setInterval(function() {
					window.location.reload();
				}, 1000 * timer);
			} else { 
				$('#countdown').hide(); 
				options.reloadevery = false;
			}
		});

		$('input#emailme').click( function () {						//show/hide blocked hits
			options.emailit = this.checked;
			options.email = $('input#emailaddress').val();
			$('input#emailaddress').attr('disabled', !options.emailit);
			updateRender(options);
		});

		$('button.toggleoptions').click( () => { 
			options.blockArray = $('#blockField').val().split('|');
			options.includeArray = $('#includeField').val().split('|');
			$('div#options').toggle();

			clearTimeout(rld);			
			$('#countdown').text('stopped');
			options.reloadinterval = $('#reloaddropdown').val();
			updateRender(options);
		});

		$('.toggledesc').click( function () {						//toggle hit descriptions
			$(this).html( $(this).html() === '+' ? '-' : '+');
			$(this).parent().parent().next().toggle();
		});

		$('.blockit').click( function () {							//add hit or requester to block list
			let bl = $(this).parent().text().replace(/^(xi |-xi |\+xi )/,'');
			options.blockArray.push(bl);
			updateRender(options);
		});

		$('.includeit').click( function () {						//add hit or requester to include list
			let inc = $(this).parent().text().replace(/^(xi |-xi |\+xi )/,'');
			options.includeArray.push(inc);
			updateRender(options);
		});

	});

});

function initRenderHitDB(opt, db) {				//set block/include textareas to actual block/include list and initial render
	$('#blockField').val(opt.blockArray.join('|'));
	$('#includeField').val(opt.includeArray.join('|'));
	for (let a in db)	
		$('.hitgroup').append(`<div class="container hitcapsule row"><div class="row"><div class="col-md-3"><button type="button" class="toggledesc">+</button><button type="button" class="blockit">x</button><button type="button" class="includeit">i</button> ${db[a].requester}</div><div class="col-md-7"><button type="button" class="blockit">x</button><button type="button" class="includeit">i</button> ${db[a].title}</div><div class="col-md-1"><a href="${db[a].url}" target="_blank">${db[a].pay}</a></div><div class="col-md-1">${db[a].timer}</div></div><div class="row hitdesc" hidden><div class="col-md-6">Description: ${db[a].description}</div><div class="col-md-1">Qualifications:</div><div class="col-md-5">${db[a].qual.join('<br>')}</div></div></div>`);
	$('input#showblocked').attr('checked', opt.showblocked);
	$('input#autoreload').attr('checked', opt.reloadevery);
	$('input#emailme').attr('checked', opt.emailit);
	$('input#emailaddress').val(opt.email);
	$('input#emailaddress').attr('disabled', !opt.emailit);
	$('#reloaddropdown').val(opt.reloadinterval);

}

function updateRender(opt) {					//set textareas to actual lists. set everything to default class, then assign blocks and includes
	localStorage.setItem('scraperoptions', JSON.stringify(opt));
	$('#blockField').val(opt.blockArray.join('|'));
	$('#includeField').val(opt.includeArray.join('|'));
	$('div.hitcapsule').removeClass('included').removeClass('blocked').addClass('defaulted');
	for (let x in opt.blockArray) {
		if (opt.blockArray[x])
			$('div.hitcapsule:contains("' + opt.blockArray[x] + '")').removeClass('included').addClass('blocked');
	}
	for (let y in opt.includeArray) {
		if (opt.includeArray[y])
			$('div.hitcapsule:contains("' + opt.includeArray[y] + '")').removeClass('blocked').addClass('included');
	}
	if ($('#showblocked').prop('checked') === true)				//show blocked hits if checkbox is checked
		$('div.blocked').show();
	else $('div.blocked').hide();
}

</script>