<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="interface.css">
		<meta charset="utf-8">
		<title>Scrape Interface</title>
	</head>
	<body>
		<div class="container">
			<button type="submit" class="btn toggleoptions">Options</button>
		</div>

		<div class="container" id="options" hidden>
			<div>
				Block List:
			</div>
			<div>
				<textarea class="form-control" id="blockField"></textarea>
			</div>

			<div>
				Include List:
			</div>
			<div> 
				<textarea class="form-control" id="includeField"></textarea>
			</div>

			<div>
				<label><input type="checkbox" id="showblocked">Show blocked hits</input></label>
			</div>
		</div>

		<div class="container hitgroup">
			<div class="row">
				<div class="col-lg-3"><h5>Requester</h5></div>
				<div class="col-lg-7"><h5>HIT Title</h5></div>
				<div class="col-lg-1"><h5>Pay</h5></div>
				<div class="col-lg-1"><h5>Timer</h5></div>
			</div>
		</div>
	</body>
</html> 

<script type="text/javascript">

function getHits() {
    return $.ajax({
      url: "/scrape",
      dataType:'json',
    });
}

$(document).ready(function() {

	getHits().done(function(data) {
		hitDB = data;

		let blockArray = localStorage.getItem('blockstore') ? JSON.parse(localStorage.getItem('blockstore')) : ['ScoutIt','p9r','Crowdsurf Support', 'Ibotta', 'Speechpad'];		//default block list and include list
		let includeArray = localStorage.getItem('includestore') ? JSON.parse(localStorage.getItem('includestore')) : ['Sergey Schmidt'];
		
		initRenderHitDB(blockArray, includeArray);					//first render of page
		updateRender(blockArray, includeArray);						

		$('input#showblocked').click( () => {						//show/hide blocked hits
			updateRender(blockArray, includeArray);
		})

		$('button.toggleoptions').click( () => { 
			blockArray = $('#blockField').val().split('|');
			includeArray = $('#includeField').val().split('|');
			$('div#options').toggle();
		});

		$('.toggledesc').click( function () {						//toggle hit descriptions
			$(this).html( $(this).html() === '+' ? '-' : '+');
			$(this).parent().parent().next().toggle();
		});

		$('.blockit').click( function () {							//add hit or requester to block list
			let bl = $(this).parent().text().replace(/^(xi |-xi |\+xi )/,'');
			blockArray.push(bl);
			updateRender(blockArray, includeArray);
		});

		$('.includeit').click( function () {						//add hit or requester to include list
			let inc = $(this).parent().text().replace(/^(xi |-xi |\+xi )/,'');
			includeArray.push(inc);
			updateRender(blockArray, includeArray);
		});

	});

});

function initRenderHitDB(blocklist, includelist) {				//set block/include textareas to actual block/include list and initial render
	$('#blockField').val(blocklist.join('|'));
	$('#includeField').val(includelist.join('|'));
	for (let a in hitDB)	
		$('.hitgroup').append(`<div class="container hitcapsule row"><div class="row"><div class="col-lg-3"><button type="button" class="toggledesc">+</button><button type="button" class="blockit">x</button><button type="button" class="includeit">i</button> ${hitDB[a].requester}</div><div class="col-lg-7"><button type="button" class="blockit">x</button><button type="button" class="includeit">i</button> ${hitDB[a].title}</div><div class="col-lg-1"><a href="${hitDB[a].url}" target="_blank">${hitDB[a].pay}</a></div><div class="col-lg-1">${hitDB[a].timer}</div></div><div class="row hitdesc" hidden><div class="col-lg-6">Description: ${hitDB[a].description}</div><div class="col-lg-1">Qualifications:</div><div class="col-lg-5">${hitDB[a].qual.join('<br>')}</div></div></div>`);
}

function updateRender(blocklist, includelist) {					//set textareas to actual lists. set everything to default class, then assign blocks and includes
	localStorage.setItem('blockstore', JSON.stringify(blocklist));
	localStorage.setItem('includestore', JSON.stringify(includelist));
	$('#blockField').val(blocklist.join('|'));
	$('#includeField').val(includelist.join('|'));
	$('div.hitcapsule').removeClass('included').removeClass('blocked').addClass('defaulted');
	for (let x in blocklist) {
		if (blocklist[x])
			$('div.hitcapsule:contains("' + blocklist[x] + '")').removeClass('included').addClass('blocked');
	}
	for (let y in includelist) {
		if (includelist[y])
			$('div.hitcapsule:contains("' + includelist[y] + '")').removeClass('blocked').addClass('included');
	}
	if ($('#showblocked').prop('checked') === true)				//show blocked hits if checkbox is checked
		$('div.blocked').show();
	else $('div.blocked').hide();

}

</script>